body{
    background-color: white;
    background-image: url(/images/edited7-1.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    font-family: 'Advent Pro';
    }
    .linkbar{
        margin-left: 1000px;
        margin-top: 100px;
        size: 50px;
    }
    .linkbar button{
        font-family: 'Advent Pro';
       
    }
    
    .linkbar button{
        background-color: transparent;
        border-color: transparent;
        color: white;
        font-size: 25px;
        font-weight: lighter;
    }
    .linkbar button:hover{
        background-color: rgba(255, 255, 255, .5);
        color: white;
        border-radius: 5px;
        transition: all 0.5s ease;
    }

    #login{
        background-color: green;
        border-radius: 10px;
    }

    h1{
        margin-left: 200px;
        margin-top: 100px;
        font-family: 'Montserrat', sans-serif;
        font-style: italic;
        color: white;
        font-size: 40px;
    }
.contact{
   margin-top: 200px;
    text-align: center;
    font-family:'Poppins', sans-serif;
}
.contact h3{
    font-size: 35px;
    color: rgb(207, 207, 207);
   margin: 0;
   padding: 0;
}
.contact h2{
    font-size: 50px;
    color: aquamarine;
    margin: 0;
    padding: 0;
}
.icons{
    color: white;
}
#loc i{
    position: absolute;
    top: 700px;
    left: 400px;
    height: 50px;
    width: 50px;
}
#loc p{
    margin-left: 20px;
    position: absolute;
    top: 680px;
    left: 440px;
}
#logobutton{
    position: absolute;
    left: 100px;
    top: 100px;
    height: 50px;
    width: 100px;
}
#call i{
    position: absolute;
    top: 800px;
    left: 400px;
    height: 50px;
    width: 50px;
}
#call p{
    margin-left: 20px;
    position: absolute;
    top: 780px;
    left: 440px;
}
#mail i{
    position: absolute;
    top: 900px;
    left: 400px;
    height: 50px;
    width: 50px;
}
#mail p{
    margin-left: 20px;
    position: absolute;
    top: 880px;
    left: 440px;
}