body{
    background-color: white;
    background-image: url(/images/edited7-1.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    }
    
    button{
        background-color: transparent;
        border-color: transparent;
        color: white;
    }
    button:hover{
        background-color: rgba(255, 255, 255, .5);
        color: white;
        border-radius: 5px;
    }

    .linkbar{
        margin-left: 500px;
        margin-top: 200px;
    }
    