body{
    background-color: white;
    background-image: url(/images/edited7-1.jpg);
    background-repeat: no-repeat;
    }
    
    button{
        background-color: transparent;
        border-color: transparent;
    }
    button:hover{
        background-color: white;
        opacity: 20%;
    }